.content {
  margin: 1rem;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

button {
  margin-bottom: 1rem;
}

.title h1 {
  font-size: 2rem;
  color: rgb(194, 194, 194);
  font-weight: 500;
}

@media (max-width: 450px) {
  .table th {
    font-size: 0.75rem; /* Reduz o tamanho do cabeçalho em telas menores */
  }

  .table td {
    font-size: 0.75rem; /* Reduz o tamanho das células em telas menores */
  }

  .table th,
  .table td {
    padding: 0.25rem 0.5rem; /* Reduz o espaçamento em telas menores */
  }
}

.livros {
  color: royalblue;
}

.edit {
  color: rgb(232, 143, 34);
}

.delete {
  color: rgb(255, 124, 124);
}

.mat-column-livros,
.mat-column-acoes {
  width: 6rem;
  text-align: center;
}

.mat-column-acoes a {
  margin: 0.25rem;
}
